@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
   font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding:0;
}    
.createNewPasswordFormContainer{
    height:66vh;
    width:100%;
    background-color:#3d527e17;
    display: flex;
    align-items: center;
    justify-content: center;
}
.createNewPasswordFormAndHeadingDiv{
    height:45vh;
    width:380px;
    border-radius:10px;
    box-shadow: 0.5px 0.5px 5px rgba(0,0,0,0.2)
}
.createNewPasswordHeadingDiv{
    height:20%;
    width:100%;
    /* background-color:green; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.createNewPasswordFormDiv{
    height:80%;
    width:100%;
    /* background-color:greenyellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.createNewPasswordForm{
   height:100%;
   width: 100%;
   /* background-color: blue; */
}

.createNewPassswordInputContainer{
  height:25%;
  width:100%;
  /* background-color:gray; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.createNewPasswordInputAndIconDiv{
    height:95%;
    width:95%;
    /* background-color:pink; */
    background-color:white;
    display: flex;
    align-items:center;
    border-radius: 10px;
    padding-left: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
    transition: all 1s;
}
.createNewPasswordInputDiv{
    height:100%;
    width:80%;
    /* background-color: chartreuse; */
}
.showPasswordIconDiv{
    height:100%;
    width:20%;
    background-color:white;
    background-image:url(../../../public/images/show.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:50% 45%;
    cursor: pointer;
    border-radius:0px 10px 10px 0px;
}
.hidePasswordIcon{
     height:100%;
    width:20%;
    background-color:white;
    background-image:url(../../../public/images/hide.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:50% 45%;
    cursor: pointer;
    border-radius:0px 10px 10px 0px;
}
.createNewPasswordInput{
    height:100%;
    width:100%;   
    border: none;
    font-size:24px;
    border-radius:10px 0px 0px 10px;
}
.createNewPasswordInput:focus{
    outline:none;
}
.createNewPasswordInputAndIconDiv:hover{
    border-color:gold;
    box-shadow:1px 1px 5px gold;
    transform: translateY(-2px);
}


.retypePassswordInputContainer{
  height:25%;
  width:100%;
  /* background-color:brown; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:6px;
}
.retypePasswordInputAndIconDiv{
    height:95%;
    width:95%;
    /* background-color:pink; */
    background-color:white;
    display: flex;
    align-items:center;
    border-radius:10px;
    padding-left: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
    transition: all 1s;
}
.retypePasswordInputDiv{
    height:100%;
    width:80%;
    /* background-color: chartreuse; */
}
.showRetypePasswordIconDiv{
    height:100%;
    width:20%;
    background-color:white;
    background-image:url(../../../public/images/show.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:50% 45%;
    cursor: pointer;
    border-radius:0px 10px 10px 0px;
}
.hideRetypePasswordIcon{
    height:100%;
    width:20%;
    background-color:white;
    background-image:url(../../../public/images/hide.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:50% 45%;
    cursor: pointer;
    border-radius:0px 10px 10px 0px;
}
.retypePasswordInput{
    height:100%;
    width:100%;
    border: none;
    font-size:24px;
    border-radius:10px 0px 0px 10px;
}
.retypePasswordInput:focus{
    outline:none;
}
.retypePasswordInputAndIconDiv:hover{
    border-color:gold;
    box-shadow:1px 1px 5px gold;
    transform: translateY(-2px);
}



.signInButtonContainer{
  height:40%;
  width:100%;
  /* background-color:darkgoldenrod; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.signInButtonDiv{
  height:95%;
  width:95%;
  /* background-color: darkmagenta; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.signInButton{
    height:55px;
    width:170px;
    font-size: 21px;
    color: white;
    background-color:#506a50;
    border: none;
    border-radius:50px;
    cursor: pointer;
}
@media(max-width:387px){
    .createNewPasswordFormAndHeadingDiv{
    height:40vh;
    width:280px;
    }
    .createNewPasswordHeadingDiv{
    font-size: 25px;
    }
    .showPasswordIconDiv{
    background-size:75% 45%;
    }
    .showRetypePasswordIconDiv{
    background-size:75% 45%;
    }
}
@media(max-width:287px){
    .createNewPasswordFormAndHeadingDiv{
    height:35vh;
    width:240px;
    }
    .createNewPasswordHeadingDiv{
    font-size: 20px;
    }
    .showPasswordIconDiv{
    background-size:65% 35%;
    }
    .showRetypePasswordIconDiv{
    background-size:65% 35%;
    }
    .createNewPasswordInput{
    font-size:21px;
    }
    .retypePasswordInput{
    font-size:21px;
    }
}
@media(max-width:246px){
    .createNewPasswordFormAndHeadingDiv{
    height:27vh;
    width:200px;
    }
    .createNewPasswordHeadingDiv{
    font-size: 17px;
    }
    .showPasswordIconDiv{
    background-size:65% 40%;
    }
    .showRetypePasswordIconDiv{
    background-size:65% 40%;
    }
    .createNewPasswordInput{
    font-size:18px;
    }
    .retypePasswordInput{
    font-size:18px;
    }
    .signInButton{
       height:40px;
       width:100px;
       font-size: 14px;
    }
}
@media(max-width:246px){
    .createNewPasswordFormAndHeadingDiv{
    height:27vh;
    width:170px;
    }
    .createNewPasswordHeadingDiv{
    font-size: 15px;
    }
    .showPasswordIconDiv{
    background-size:75% 40%;
    }
    .showRetypePasswordIconDiv{
    background-size:75% 40%;
    }
    .createNewPasswordInput{
    font-size:14px;
    }
    .retypePasswordInput{
    font-size:14px;
    }
    .signInButton{
       height:40px;
       width:100px;
       font-size: 14px;
    }
}