@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding:0;
}    
.ForgotPasswordEmailFormContainer{
    height:66vh;
    width:100%;
    background-color:#3d527e17;
    display:flex;
    align-items: center;
    justify-content: center;

}    
.enterEmailFormDiv{
    height:35vh;
    width:380px;
    border-radius:10px;
    box-shadow: 0.5px 0.5px 5px rgba(0,0,0,0.2);
}
.forgotByEmailTextDiv{
    height:30%;
    /* background-color: rgb(153, 119, 119); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:20px;
}
.text0{
    font-size:24px;
}
.text2EmailOfPerson a{
    text-decoration: none;
    font-size:18px;
}
.otpFormDiv0{
    height:70%;
    width:100%;
    /* background-color:brown; */
}
.otpForm0{
    height:100%;
    width:100%;
    /* background-color: chartreuse; */
}
.otpInputDiv0{
    height:45%;
    width:100%;
    /* background-color: cornflowerblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.otpInput0{
    height:70%;
    width:93%;
    /* background-color: red; */
    display:flex;
    align-items: center;
    justify-content: center;
}
.otpInputTag0{
    height:100%;
    width:100%;
    font-size:25px;
    border-radius:10px;
    border:none;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
    transition: all 2s;
}
.otpInputTag0:focus{
    outline: none;
}
.otpInputTag0:hover{
    border-color:gold;
    box-shadow:0.5px 0.5px 4px gold;
    transform: translateY(-2px);
}
.createAccountButtonDiv0{
    height:50%;
    width:100%;
    /* background-color:coral; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.createAccountButton0{
    height:100%;
    width:100%;
    /* background-color:pink; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.createAccountButtonTag0{
    height:65%;
    width:50%;
    border-radius:50px;
    border: none;
    font-size:20px;
    color: white;
    background-color:#506a50;
    /* cursor: pointer; */
}
.createAccountButtonTag0:hover{
    box-shadow: 1px 1px 2px black;
}
.createAccountButtonTag:hover{
    background-color:#5f865f;
}

/* media queries */
@media(max-width:393px){
    .enterEmailFormDiv{
    height:35vh;
    width:340px;
    background-color:#d7d7d7;
    border-radius:10px;
    }
    .text0{
    font-size:17px;
    }
}
@media(max-width:355px){
    .enterEmailFormDiv{
    height:35vh;
    width:300px;
    background-color:#d7d7d7;
    border-radius:10px;
    }
    .createAccountButtonTag0{
    height:65%;
    width:55%;
    border-radius:50px;
    border: none;
    font-size:20px;
    color: white;
    background-color:#506a50;
    cursor: pointer;
    }
}
@media(max-width:311px){
    .enterEmailFormDiv{
    width:270px;
    }
    .createAccountButtonTag0{
    font-size:18px;
    }
    .text0{
    font-size:17px;
    }
    .text2EmailOfPerson a{
    font-size:14px;
    }
}
@media(max-width:274px){
    .enterEmailFormDiv{
    width:240px;
    }
    .createAccountButtonTag0{
    font-size:15px;
    }
    .text0{
    font-size:14px;
    }
    .text2EmailOfPerson a{
    font-size:12px;
    }
}

.custom-button:focus {
    touch-action: manipulation; /* This prevents the default tap (highlight) effect */
    -webkit-tap-highlight-color: transparent; /* For older versions of some browsers */
}