.profilePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 78vh;
    padding: 30px 0px;
    background-color: #3d527e17;
}
.profilePage .profileImage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border: 1px solid gray;
    border-radius: 50%;
    overflow: hidden;
}
.profilePage .profileImage img{
    height: 80%;
}
.profilePage .profileField{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
}
.profilePage .profileField div{
    font-size: 20px;
}
.profilePage .profileField .skeletBox{
    height: 40px;
    width: 280px;
    border-radius: 37px;
    padding-left: 8px;
    font-size: 18px;
    outline: none;
    border: none;
    border: 1px solid gray;
    margin: 5px;
    overflow: hidden;
}
.profilePage .profileField b{
    font-size: 35px;
}
.profilePage .profileField button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
    background-image: url("../../../public/images/edit.png");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: all 2s;
}
.profilePage .profileField button:hover{
    transform: translateY(2px);
}
.profilePage .profileField input{
    height: 40px;
    width: 280px;
    border-radius: 37px;
    padding-left: 8px;
    font-size: 18px;
    outline: none;
    border: none;
    border: 1px solid gray;
    margin: 5px;
}
.inputDisabledClass{
    background: #e7f0e7;
}