.sideFilter{
    transition: all 2s;
    position: relative;
    visibility: hidden;
}
.sideFilterBar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 92.3%;
    background-color: white;
    z-index: 10;
    width: 400px;
    transform: translateX(-100%);
    transition: all 0.5s linear;
    overflow-y: auto;
    overflow-x: hidden;
}
.sideFilter .sideFilterBar .sideFilterHead{
    height: 50px;
    width: 100%;
    font-size: 30px;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sideFilter .sideFilterBar .sideFilterContent{
    height:max-content;
    padding: 15px;
    padding-bottom: 0px;
}
/* .sideFilter .sideFilterBar .sideFilterContent .sideFilterBtns{
    width: 100%;
    height: 65px;
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    background: #131921;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sideFilter .sideFilterBar .sideFilterContent .sideFilterBtns .eachFilterBtn{
    height: 40px;
    width: 130px;
    background-color:rgba(0,0,0,0.5);
    margin: 0px 20px;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 16px;
    outline: none;
} */
/* .sideFilter .sideFilterBar .sideFilterContent .sideFilterBtns .eachFilterBtn:hover{
    background-color:rgba(0,0,0,0.2);
} */
.sideFilter .sideFilterBtns{
    width: 400px;
    height:8%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    transform: translateX(-100%);
    transition: all 0.5s linear;
}
.sideFilter .sideFilterBtns .eachFilterBtn{
    height:90%;
    width: 45%;
    background-color:#131921f0;
    margin: 0px 20px;
    border-radius: 40px;
    border: none;
    color: white;
    font-size: 16px;
    outline: none;
}
/* .sideFilter .sideFilterBtns .eachFilterBtn:hover{
    background-color:rgba(0,0,0,0.2);
} */
.sideFilter .sideFilterBar .sideFilterContent .eachFilter{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}
.sideFilter .sideFilterBar .sideFilterContent .priceFilter div{
   display: flex;
   align-items: center;
   justify-content: center;
}
.sideFilter .sideFilterBar .sideFilterContent .priceFilter div span{
    padding: 0px 10px;
    width: max-content;
}
.sideFilter .sideFilterBar .sideFilterContent .priceFilter div input{
    width: 150px;
    height: 5px;
}
.sideFilter .sideFilterBar .sideFilterContent .eachFilter .filterHead{
    margin: 5px 0px;
    font-weight: bold;
    font-size: 22px;
    font-family: system-ui;
} 
.sideFilter .sideFilterBar .sideFilterContent .eachFilter label{
    margin-left:10px;
}
.sideFilter .sideFilterBar .closeFilterBtn{
    position: absolute;
    height: 35px;
    width: 35px;
    background-color: #b9a9a9;
    top: 12px;
    right: 40px;
    border-radius: 50%;
    background-image: url("../../../public/images/closeIcon.png");
    background-position: center;
    background-size:70%;
    background-repeat: no-repeat;
}
.sideFilter .sideFilterOverlay{
    content: "";
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.373);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: translateX(-100%);
}

@media screen and (max-width:386px){
    .sideFilterBar{
      width: 100%;
    }
    .sideFilter .sideFilterBtns{
        width: 100%;
    }
}
@media screen and (max-width:339px){
    .sideFilter .sideFilterBar .sideFilterContent .priceFilter div input{
        width: 115px;
    }
    .sideFilter .sideFilterBtns{
        width: 100%;
    }
}
@media screen and (max-width:308px){
    .sideFilter .sideFilterBar .sideFilterContent .priceFilter div span{
        padding: 0px 0px;
    } 
    .sideFilter .sideFilterBtns{
        width: 100%;
    }
}